---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<!-- TODO: Add privacy policy to this page -->
<DefaultLayout>
  <section class="container">
    <div id="spacing">
      <h1 style="display: flex; justify-content: center; margin-bottom: 2rem;">Privacy Policy</h1>
      <h2>Introduction</h2>
      <p>
        Welcome to Alex's Guardian. We value your privacy and are committed to protecting your personal information.
        This Privacy Policy outlines how we collect, use, and safeguard your information when you visit our website,
        including our blog subdomain, or use our services.
      </p>
      <br />
      <h2>Information We Collect</h2>
      <p>We collect the following information to provide and improve our services:</p>
      <ul>
        <li><strong>Personal Information</strong>: Names, Email addresses, Phone numbers, and Voicemails.</li>
        <li>
          <strong>Usage Data</strong>: Information on how you interact with our website and blog, collected through
          Google Analytics for site performance and improvement.
        </li>
      </ul>
      <p>Additionally, "Alex's Blog" uses the following third-party service:</p>
      <ul>
        <li>
          <strong>Giscus</strong>: Alex's Blog comments are managed through Giscus, which uses GitHub Discussions as the
          backend. Comments are associated with your public GitHub account. For more information on how GitHub handles
          your personal information, please refer to the <a
            href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement"
            target="_blank">GitHub Privacy Policy</a
          >.
        </li>
      </ul>
      <br />
      <h2>How We Use Your Information</h2>
      <p>The information we collect is used in the following ways:</p>
      <ul>
        <li>
          <strong>To Provide and Improve Services</strong>: Your personal information is used to deliver our services,
          including invoicing and communication.
        </li>
        <li>
          <strong>Analytics</strong>: Usage data collected via Google Analytics helps us understand how our website and
          blog are used, allowing us to enhance user experience and content quality.
        </li>
        <li>
          <strong>Comments</strong>: Comments made through Giscus are publicly displayed and associated with your GitHub
          account.
        </li>
      </ul>
      <br />
      <h2>Data Storage and Security</h2>
      <p>
        Your personal information is stored in our internal encrypted database, used exclusively by our invoicing
        software. We take appropriate security measures to protect against unauthorized access, alteration, disclosure,
        or destruction of your personal information.
      </p>
      <p>Information collected by third-party services is managed according to their respective privacy policies.</p>
      <br />
      <h2>Sharing Your Information</h2>
      <p>We do not share your personal information with third parties except:</p>
      <ul>
        <li>
          <strong>With your consent</strong>: We may share your information with third parties if you have given us
          explicit consent to do so.
        </li>
        <li>
          <strong>For legal reasons</strong>: We may disclose your information if required by law or to protect our
          rights and safety.
        </li>
      </ul>
      <br />
      <h2>Your Choices</h2>
      <p>You have the following rights regarding your personal information:</p>
      <ul>
        <li><strong>Access</strong>: You can request access to the personal information we hold about you.</li>
        <li>
          <strong>Correction</strong>: You can request correction of any inaccurate personal information we hold about
          you.
        </li>
        <li>
          <strong>Deletion</strong>: You can request the deletion of your personal information, subject to legal and
          contractual obligations.
        </li>
      </ul>
      <br />
      <h2>Cookies</h2>
      <p>
        Our website and blog use cookies to enhance your browsing experience. Cookies are small data files placed on
        your device to help us understand how you use our site and improve our services.
      </p>
      <br />
      <h2>Google Analytics</h2>
      <p>
        We use Google Analytics to collect information about your use of our website and blog. Google Analytics collects
        information such as your IP address, browser type, referring/exit pages, and the dates/times of visits. This
        information helps us analyze website traffic and improve our services. Google Analytics operates independently
        and has its own privacy policy, which we encourage you to review.
      </p>
      <br />
      <h2>Changes to This Privacy Policy</h2>
      <p>
        We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new
        Privacy Policy on our website. You are advised to review this Privacy Policy periodically for any changes.
      </p>
      <br />
      <h2>Contact Us</h2>
      <p>If you have any questions or concerns about this Privacy Policy, please contact us at:</p>
      <ul>
        <li><strong>Email</strong>: info@alexsguardian.net</li>
        <li><strong>Phone</strong>: +1 717-573-0627</li>
      </ul>
      <p>
        Thank you for trusting Alex's Guardian with your personal information. We are committed to protecting your
        privacy and ensuring a safe and secure experience.
      </p>
    </div>
  </section>
  <style>
    #spacing {
      p {
        margin-bottom: 0.5rem;
      }
      h2 {
        margin-bottom: 0.2rem;
      }
    }
  </style>
</DefaultLayout>
