---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Image } from 'astro:assets';
---

<DefaultLayout title="Projects">
    <div class="container">
        <div id="center">
            <h1>Projects</h1>
            <p>This page contains some examples of projects Alex's Guardian has done.</p>
        </div>
        <div>
            <ContentMedia imgSrc="/projects/custom-pc-1.webp" reverseImg={true}>
                <h2>Custom Gaming PC</h2>
                <p class="text-2xl">
                    A custom highend build for Chris V. This was a fun build and we think it turned out great! 
                </p>
                <p>
                    System specs: i7-13700KF, 32GB RAM, RTX 4090, Corsair iCue, all in a Lian Li 011 Dynamic Evo.
                </p>
                <p style="font-size:small;">
                    Image taken by us.
                </p>
              </ContentMedia>
              <ContentMedia imgSrc="/projects/custom-pc-2.webp">
                <h2>Custom Gaming PC</h2>
                <p class="text-2xl">
                    Another custom highend build for Geoffery S. The Deep Cool AIO's infinity mirror CPU block looks sweet!
                </p>
                <p>
                   System specs: i7-14700K, 32GB RAM, RTX 4070TI, all in a NZXT H9 Flow.
                </p>
                <p style="font-size:small;">
                    Image provided by client.
                </p>
              </ContentMedia>
              <ContentMedia imgSrc="/projects/rack-done-1.webp" reverseImg={true} alt="Picture of a completed client's network rack">
                <h2>Network Build Out</h2>
                <p class="text-2xl">
                    A local business wanted to build out a network at their new building.
                </p>
                <p>
                    We pulled 10,000ft of Cat 6a and used their existing networking equipment in the racks. Unfortunately, a CCTV camera was added last minute and we did not have enough keystone jacks. This was later rectified after this image was taken! Yellow cables are also from existing server infrastructure.
                </p>
                <p style="font-size:small;">
                    Image taken by us.
                </p>
              </ContentMedia>
              <p style="text-align: center;">
                <strong>Note</strong><br>As this new website gets built out, we will gradually add more projects to this page. We are aiming to have at least one project per rendered service listed as an example on this page. Not all services we offer will have examples here.
              </p>
        </div>
    </div>
</DefaultLayout>

<style>
    #center {
        h1, p {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
/*     #imgs {
        display: grid;
        grid: auto auto/auto auto;
        column-gap: 10px;
        margin-top: 1rem;
    }
    @media (max-width: 960px) {
        #imgs {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }   */ 
</style>