---

---

<!-- Pulled from Astrowind https://github.com/onwidget/astrowind -->

<div
  class="dark relative gap-1 text-ellipsis whitespace-nowrap bg-amber-600 px-3 py-2 text-sm text-white dark:bg-amber-800 md:flex"
>
  <span class="mr-0.5 inline-block bg-white/40 px-1 py-0.5 text-xs font-semibold rtl:ml-0.5 rtl:mr-0">DEV</span>
  <a href="https://alexsguardian.net" class="font-medium text-white visited:decoration-white dark:hover:text-black"
    ><span class="text-white decoration-white">Development Site for Alex's Guardian</span></a
  >
</div>
