---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/projects/">Projects</a>
    </li>
    <!-- Add back once the contact page is complete.
    <li class="menu-item">
      <a href="/contact/">Contact</a>
    </li>
    -->
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Extras</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/about/">About</a>
        </li>
        <li class="menu-item">
          <a href="https://blog.alexsguardian.net" title="external link" rel="external noopener noreferrer"
            >Alex's Blog</a
          >
        </li>
        <li class="submenu-item">
          <a href="/scams/">Scams</a>
        </li>
        <!-- Add back once the support page is complete.   
        <li class="menu-item">
          <a href="/support/">Support</a>
        </li>
         -->
        <li class="menu-item">
          <a href="/privacy/">Privacy Policy</a>
        </li>
      </ul>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/alexandzors/astro-agnet" title="Website Repository">
        <Icon name="ion:logo-github" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
